<html>
<head>
  <meta charset="utf-8">
  <title>Movie Ticket Order page - Welcome and choose a Movie</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to our Movie Ticket Shop App</h1>
  <a th:href="@{/register}"><button type="button">Register</button></a>
  <a th:href="@{/login}"><button type="button">Login</button></a>
</header>
<main>
<!--  <h2>Most popular movie: <th:block th:text="${mostPopularMovie.getTitle()}"></th:block></h2>-->
  <a th:href="@{/movies/add}"><button>Add new movie</button></a>
  <a th:href="@{/productions/add}"><button>Add new production</button></a>
  <a th:href="@{/shopping-cart}"><button type="button">Your Shopping Cart</button></a>
  <a th:href="@{/ticketorder}"><button type="button">List of Orders</button></a>


  <h2>Choose movie:</h2>
  <!-- Display radio buttons for each movie,
          the value should be the movie title
          and the displayed text should be Title: <movie_title>, Summary:<movie_summary>, Rating: <movie_rating> -->

<!--  <form th:method="POST" th:action="@{/ticketorder}" >-->
<!--  <ul>-->
<!--    <li th:each="movie: ${movies}">-->
<!--      <h3>Title: <th:block th:text="${movie.getTitle()}"></th:block></h3>-->
<!--      <h5>Summary: <th:block th:text="${movie.getSummary()}"></th:block></h5>-->
<!--      <h6>Rating: <th:block th:text="${movie.getRating()}"></th:block></h6>-->
<!--      <h6>Rating: <th:block th:text="${movie.getProduction().getName()}"></th:block></h6>-->
<!--      <label for="dateCreated">Date Created:</label>-->
<!--      <input type="datetime-local" id="dateCreated" name="dateCreated" th:pattern="'yyyy-MM-ddTHH:mm'">-->
<!--      <label><input name="movieId" type="radio" th:value="${movie.getId()}"> Select Movie</label>-->
<!--      </br>-->
<!--      <a th:href="@{'/movies/edit/' + ${movie.id}}"><button type="button">Edit</button></a>-->
<!--      <a th:href="@{'/movies/delete/' + ${movie.id}}" onclick="return confirm('Are you sure you want to delete this movie?')"><button type="button">Delete</button></a>-->
<!--      <a th:href="@{'/movies/clone/' + ${movie.id}}"><button type="button">Clone</button></a>-->
<!--    </li>-->
<!--  </ul>-->


<!--  <h2>Choose number of tickets:</h2>-->
<!--  <input type="number" name="numTickets" min="1" max="10"><br/>-->
<!--  <br/>-->
<!--  <input type="submit" value="Ticket Order" name="placeOrderSubmit">-->
<!--</form>-->
  <ul>
        <li th:each="movie: ${movies}">
          <h3>Title: <th:block th:text="${movie.getTitle()}"></th:block></h3>
          <h5>Summary: <th:block th:text="${movie.getSummary()}"></th:block></h5>
          <h6>Rating: <th:block th:text="${movie.getRating()}"></th:block></h6>
          <h6>Production: <th:block th:text="${movie.getProduction().getName()}"></th:block></h6>
          </br>
          <a th:href="@{'/movies/edit/' + ${movie.id}}"><button type="button">Edit</button></a>
          <a th:href="@{'/movies/delete/' + ${movie.id}}" onclick="return confirm('Are you sure you want to delete this movie?')"><button type="button">Delete</button></a>
          <a th:href="@{'/movies/clone/' + ${movie.id}}"><button type="button">Clone</button></a>
          <form th:action="@{'/shopping-cart/add-movie/{id}' (id=${movie.getId()})}"
                th:method="POST">
            <div class="form-group">
              <label for="dateCreated">Date Created:</label>
              <input type="datetime-local" id="dateCreated" name="dateCreated" th:pattern="'yyyy-MM-ddTHH:mm'" required>
            </div>
            <label>
              <input type="number" name="numOfTickets" min="1" max="10">
            </label>
            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-shopping-cart">Add to Cart</i></button>
          </form>
        </li>
  </ul>

<!--<h2>Search movie: </h2>-->
<!--  <form th:method="POST" th:action="@{/}" >-->
<!--    <label>Enter search criteria: <input type="text" name="searchText" placeholder="Search text..." required></label>-->
<!--    <label>Enter search criteria: <input type="text" name="searchRating" placeholder="Search rating..." required></label>-->
<!--    <input type="submit" value="Submit" name="searchMovieSubmit">-->
<!--  </form>-->
</main>
</body>
</html>